.container-chessboard {
  display: grid;
  background-color: #00000000;
  /* debug не видно*/
  grid-template-areas: "a b c";
  /* box-shadow: 5px -5px 10px 5px #032D44; */
  margin: 0px 0px 0px 0px;
  border: 10px ridge #462921;
}

.container-chessboard-up2-border {
  border: 10px outset #462921;
  padding: 2px;
  background-color: #b5915f;
  box-shadow: 5px -5px 10px 5px #032D44;
  margin-left: 50px;
}

.left-box-chessboard {
  background-color: #7d694c;
  grid-area: a;
}

.right-box-chessboard {
  background-color: #7d694c;
  grid-area: c;
}

.chessboard-number {
  width: 40px;
  height: 70px;
  background-color: #7d694c;
  text-align: center;
  align-self: center;
  font-weight: bolder;
  font-size: 18px;
}

.chessboard-number>div {
  padding-top: 20px;
  text-shadow: 3px -3px 18px #bdb145;
}

.chessboard-spacer {
  height: 40px;
  background-color: #7d694c;
}


.chessboard {
  grid-area: b;
  /*border: 50px solid #462921;*/
  width: 560px;
  margin: 0 auto;
  margin-left: 0px;
  /* 50 */
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: 40px repeat(8, 70px) 40px;
  grid-auto-flow: row;
  /*box-shadow: 5px -5px 10px 5px #032D44;*/
}

.chessboard-inner {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-items: strech;
}

.piece-inner {
  text-align: center;
  align-self: center;
  font-weight: bolder;
  font-size: 18px;

}

.piece-inner>span {
  text-shadow: 3px -3px 18px #bdb145;
}

.piece {
  background-color: #b5915f;
  color: #000;
  text-align: center;
  /*background: linear-gradient(to bottom right, #b5915f, #8a6f47);*/
}

.piece:hover {
  border: white solid 2px !important;
  /*border: #978e8d solid 1px;*/
  border-radius: 2px;
}

.piece-green {
  border: #13c91c solid 5px !important;
  border-radius: 2px;
}

.piece-red {
  border: #ec2112 solid 5px !important;
  border-radius: 2px;
}

.chessboard>.top>.chessboard-inner>.piece-inner {
  transform: rotate(180deg);
}

.right-box-chessboard>.chessboard-number {
  transform: rotate(180deg);
}

/* https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Selectors */
.piece:nth-child(2)~div:nth-child(-2n+9),
/* выбрать 9 клетку, выбирать каждую вторую до 16 */
.piece:nth-child(9)~div:nth-child(-2n+16),
.piece:nth-child(17)~div:nth-child(-2n+25),
.piece:nth-child(25)~div:nth-child(-2n+32),
.piece:nth-child(33)~div:nth-child(-2n+41),
.piece:nth-child(41)~div:nth-child(-2n+48),
.piece:nth-child(49)~div:nth-child(-2n+57),
.piece:nth-child(57)~div:nth-child(-2n+64) {
  background-color: #441a03;
  /*background: linear-gradient(to bottom right, #441a03, #301508);*/
  color: #fff;
  text-align: center;
}

.piece:nth-child(25)~div:nth-child(-1n+33) {
  border-bottom: 1px solid gray;
}

.piece:nth-child(33)~div:nth-child(-1n+41) {
  border-top: 1px solid gray;
}

.top,
.bottom {
  display: grid;
  align-items: stretch;
  background-color: #7d694c;
}

.top {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
}

.bottom {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 10;
}

img.figure {
  width: 70px;
  height: 70px;
}

img.figure:hover {
  width: 70px;
  height: 70px;
  transform: scale(1.1);
}


.draggable {
  cursor: pointer;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.chessboard-footer-container {
  display: flex;
  margin-top: 12px;
  justify-content: center;
}

.chessboard-input {
  order: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.chessboard-button-container {
  order: 2;
}

.chessboard-input>input {
  height: 30px;
  width: 300px;
  background-color: hsla(120, 93%, 79%, 0);
  border: #000000;
  border-bottom: solid;
  outline: none;
  font-size: 28px;
  font-weight: bold;
  color: #032D44;
  padding-bottom: 15px;
}

.btm-chessboard {
  /*box-shadow: 3px 3px 0 #032D44 inset, -3px -3px 0 #032D44 inset;*/

  border: 3px #032D44 solid;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  margin: 2px 2px;
  cursor: pointer;
  transition: .3s linear;

  background-color: hsla(120, 93%, 79%, 0);
  color: #032D44;

}

.btm-chessboard:hover {
  text-shadow: 5px -5px 25px #032D44;
  background-color: #032D4410;
  /*box-shadow: 1px -1px 2px 1px #032D44;*/
}