/* 
https://habr.com/ru/company/ruvds/blog/523370/
https://habr.com/ru/company/skillfactory/blog/523130/

:root {
  --primary-color: #222;
  --_primary-color: #222;
  --12-primary-color: #222;
  --primay-color-12: #222;
}

.section-title {
  color: var(--primary-color, #222);
}

*/

/* theme one */
/* rules */
@font-face {
  font-family: font_rule1;
  src: url("./../fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: digital_numbers;
  src: url("./../fonts/digital-7.ttf");
}

:root {
  /* container */

  /* windows */
  --window-back-color: #441a03;
  --window-content-color: #b5915f;
  --window-border-color1: #b5915f;
  --window-border-color2: #441a03;

  /* buttons-container* */
  --button-back-color: #b5915f;
  --button-back-color2: #a78556;
  /* hover */
  --button-border-color: #441a03;

  /* buttons content */
  --button-content-color: #441a03;
  --button-content2-color: #833a18;
  --button-disabled-color: #bda584;

  /* table */

  /* wrapper */

  /* body */

  /* chessboard */

  /* navbar */

}