/* player cards  */

img.profile {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    
}

.player-card {
    height: 300px;
    width: 300px;
    border: thick double #b5915f;
    /*margin: 20px;*/
    background-color: #441a03;
    box-shadow: 5px -5px 10px 5px #032D44;
    color: #b5915f;
    font-size: 22px;
    display: inline-block;
}

.player-card:hover {
    cursor: default;
}

.player-card h2.active-player { 
    color: #f1ebe6 !important;
}

div>.profile {
    margin-left: 20px;
}

div.profile {
    margin-left: 10px;
    margin-top: 10px;
}


.player-card img.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* padding-top: 10px; */
    /*margin: 20px;*/
}

.player-card>span {
    font-size: 28px;
    margin-left: 10px;
    /* бомба текст*/
    text-shadow: 5px -5px 5px #032D44;
}

.player-card span h2 {
    /* имя справо за картинкой*/
    display: inline;
    text-shadow: 5px -5px 5px #032D44;
    /*margin: 20px;*/
}

img.flag {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 100px;
    height: 75px;
    border: #b5915f outset 3px;
}

.wins {
    font-size: 32px;
    margin-left: 10px;
    text-shadow: 5px -5px 5px #032D44;
    margin-top: 10px;
}

.raiting{
    font-size: 32px;
    margin-left: 10px;
    text-shadow: 5px -5px 5px #032D44;
}

.wins-num{
    font-size: 32px;
    margin-left: 20px;
    text-shadow: 5px -5px 5px #032D44;
    margin-top: 7px;
    text-align: center;
} 

.raiting-num{
    font-size: 32px;
    margin-left: 20px;
    text-shadow: 5px -5px 5px #032D44;
}

.wins-cont{
    margin: 0px;
}


/* player cards  end*/