/* https://www.w3docs.com/snippets/html/html5-page-structure.html */
/* https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity*/


html, body {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  height: 100%;
  margin: 0;
  background-color: #9bc085;
}

.wrapper {
  /*display: flex;*/
  /*height: 100%;*/
  /*width: 100%;*/
  background-color: #809159;
}

header, footer {
  /*display: flex;*/
  /*align-items: center;*/
  /*width: 100%;*/
  background: #1c87c9;
}

/*
.header-menu {
  justify-content: flex-end;
  height: 60px;
  background: #1c87c9;
  color: #fff;
}*/

h2 {
  /*margin: 0 0 8px;*/
}

ul li {
  display: inline-block;
  /*padding: 0 0px;*/
  list-style: none;
}

/*
aside {
  flex: 0.4;
  height: 165px;
  padding-left: 15px;
  border-left: 1px solid #666;
}
*/
section {
  /*flex: 1; */
  /*padding-right: 15px;*/
}

header, footer {
  /*padding: 0 10px;*/
  background: #ccc;
}

.container-center {
  display: flex;
  grid-auto-flow: row;
}

.lefr-block-board {
  height: 700px;
  width: 350px;
}

.right-block-board {
  height: 700px;
  width: 350px;
}
