/* BUTTONS */
.btn-green, .btn-blue, .btn-red, .btn-black, .btn-white {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    margin: 2px 2px;
    cursor: pointer;
}

.btn-green {
    background-color: #4CAF50;
    color: white;
}

.btn-green:hover {
    color: #000000;
}

.btn-blue {
    background-color: #008CBA;
    color: white;
}

.btn-blue:hover {
    color: #000000;
}

.btn-red {
    background-color: #f44336;
    color: white;
}

.btn-red:hover {
    color: #000000;
}

.btn-black {
    background-color: #441a03;
    color: #b5915f;
}

.btn-black:hover {
    color: white;
}

.btn-white {
    background-color: #b5915f;
    color: #441a03;
}

.btn-white:hover {
    color: #dbb052;
    background-color: #966b54;
}

/* BUTTONS END */


/* CHECKBOX */
/* https://itchief.ru/html-and-css/styling-checkbox-and-radio */

.checkbox-container {
    background-color: #b5915f;
    color: #441a03;
    border: #441a03;
    /* Сверху | Справа | Снизу | Слева */
    padding: 5px 0px 2px 8px;
    margin: 2px 2px 2px 2px;
    font-weight: bolder;
    width: 200px;
    /*height: 35px;*/
}

.custom-checkbox {
    /*background-color: #b5915f;
    color: #441a03;*/
}

/* для элемента input c type="checkbox" */
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    /*border: 1px solid #adb5bd;*/
    border: 1px solid #441a03;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #441a03;
    box-shadow: inset 0 0 5px #441a03;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #b5915f;
    border-color: #441a03;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
    /*box-shadow: 0 0 0 0.1rem #966b54;*/
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #441a03;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
    border-color: #441a03;
    background-color: #441a03;
    /* галочка*/
    background-image: url('./../img/figures/White_Queen.svg');
    background-size: 0.5cm;
    /*
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    */
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
    background-color: #441a03;
}

/* CHECKBOX-END*/