/* container */

/*
b - big
m - medium
s - small
*/

.container-blocks {
    height: 700px;
    width: 350px;
    padding-left: 30px;
}

.container-box {
    /*height: 300px;*/
    width: 300px;
    /*
    background-color: #441a03;
    border: thick double #b5915f;
    box-shadow: 5px -5px 10px 5px #032D44;
    color: #b5915f;
    */

    font-size: 22px;
    display: inline-block;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.container-box:hover {}

/*
 .moves-container in movesbox.css
*/