.ui-input>input {
    height: 30px;
    width: 300px;
    background-color: hsla(120, 93%, 79%, 0);
    border: #000000;
    border-bottom: solid;
    outline: none;
    font-size: 28px;
    font-weight: bold;
    color: #a5b3a5;
    padding-bottom: 15px;
}