/* notes moves*/

.moves-container {
    height: 700px;
    width: 350px;
    font-size: 22px;
    display: inline-block;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.moves-box {
    margin: 0 auto;
    margin-left: 15px;
    padding-left: 10px;
    padding-top: 7px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(1, 300px);
    grid-auto-flow: row;
    background-color: #7d694c;
    color: #ccbaa8;
    font-size: 20px;
    border: thick double #441a03;
    box-shadow: 5px -5px 10px 5px #032D44;
    font-weight: bold;
}

.moves-box table {
    cursor: default;
}

.moves-box table tr {
    color: #ccbaa8;
    background-color: #7d694c;
}

/* 2 4 6 8 10 12*/
.moves-box table tr.honest {
    background-color: #816d51;
    color: #dac0a7;
}

.moves-box table tr:hover {
    color: #f0efe9;
}

.moves-box table tr td {
    border: solid #887353;
}

.moves-header {
    margin: auto;
    margin-left: 15px;
    margin-bottom: 12px;
    display: grid;
    background-color: #7d694c;
    color: #000000;
    font-size: 20px;
    border: solid #441a03;
    /*border: thick double #b5915f;*/
    box-shadow: 5px -5px 10px 5px #032D44;
    font-weight: bold;
    height: 50px;
}

.moves-header-sub2 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    border-width: 2px;

    padding: 0px;
    border: solid #b5915f;
}

.moves-header h1 {
    padding-top: 5px;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: font_rule1;
}

.move-pagenation-box {
    padding: 3px;
    margin: 7px;
}